<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <title>Admin</title>
        <link href="static/stylesheet.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body class = "admin">
        <!-- Rest of code goes under here -->
        <h1 class = "center">Admin Page</h1>
        <h2 class = "center">All Data</h2>
        <div class = "row">
            <div class = "column">
                <table id = "usersTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Password</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{user.id}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.password}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class = "column">
                <table id = "playlistsTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Userkey</th>
                            <th>Playlist Name</th>
                            <th>Public</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for playlist in playlists %}
                        <tr>
                            <td>{{playlist.id}}</td>
                            <td>{{usernames_playlists[loop.index - 1]}}</td>
                            <td>{{playlist.name}}</td>
                            <td>{{playlist.public}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class = "row">
            <div class = "column">
                <table id = "songsTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Song Name</th>
                            <th>Album Name</th>
                            <th>Genre</th>
                            <th>Artist</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for song in songs %}
                        <tr>
                            <td>{{song.id}}</td>
                            <td>{{song.name}}</td>
                            <td>{{song_albums[loop.index - 1]}}</td>
                            <td>{{song_genres[loop.index - 1]}}</td>
                            <td>{{song_artists[loop.index - 1]}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class = "column">
                <table id = "artistsTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for artist in artists %}
                        <tr>
                            <td>{{artist.id}}</td>
                            <td>{{artist.name}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class = "column">
                <table id = "genresTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for genre in genres %}
                        <tr>
                            <td>{{genre.id}}</td>
                            <td>{{genre.name}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <h2 class = "center">Delete User</h2>
        <div class="centerDiv">
            <form>
                <label for="username">Username:</label><br>
                <input type="text" class = "textbox" id="deleteUsername" name="deleteUsername" placeholder="Username"><br>
                <button type="button" id = "deleteUser">Delete User</button>
            </form>
        </div>

        <h2 class = "center">Create or Delete Song/Album/Artist</h2>
        <div class="centerDiv">
            <form>
                <label for="username">Artist Name:</label><br>
                <input type="text" class = "textbox" id="artistName" name="artistName" placeholder="Arist's Name"><br>
                <label for="username">Song Name:</label><br>
                <input type="text" class = "textbox" id="songName" name="songName" placeholder="Song's Name"><br>
                <label for="username">Genre:</label><br>
                <input type="text" class = "textbox" id="genreName" name="genreName" placeholder="Genre"><br>
                <label for="username">Album Name:</label><br>
                <input type="text" class = "textbox" id="albumName" name="albumName" placeholder="Album's Name"><br>
                <label for="username">Album Release Year:</label><br>
                <input type="number" class = "textbox" id="albumYear" name="albumYear" placeholder="Album Year"><br>
                <button type="button" id = "addData">Add</button>
                <button type="button" id = "deleteData">Delete</button>
            </form>
        </div>

        <button type="button" class="logout" onclick="logout()">Log Out</button>
        <script src="static/script.js"></script>
    </body>
</html>