<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <title>Create User</title>
        <link href="static/stylesheet.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <!-- Rest of code goes under here -->
        <h1 class="center">Create a New Account</h1>
        <div class="createUser">
            <form>
                <label for="user_name">Username:</label><br>
                <input type="text" class = "textbox" id="newUsername" name="username" placeholder="Username"><br>
                <label for="password">Password:</label><br>
                <input type="password" class = "textbox" id="newPassword" name="password" placeholder="Password"><br>
                <button type="button" id = "createUser">Create User</button>
                <button type="button" id = "returnLogin" onclick="returnToLogin()">Back To Login</button>
            </form>
        </div>
        <script src="static/script.js"></script>
    </body>
</html>