<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <title>Home</title>
        <link href="../static/stylesheet.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <!-- Rest of code goes under here -->
        <!-- Show suggested followers, suggested artists -->
        <!-- Show suggested music based on followers and your music -->
        <!-- Top songs -->

        <h1 class="center"><a href = "/user/{{user.username}}">{{user.username}}'s</a> For You</h1>
        <ul class = "upperLeft" type = "disc">
            <h2 class = "center">You Might Know: </h2>
            {% if not followers %}
                <li>No suggested followers :(</li>
            {% else %}
                {% for row in followers %}
                    <li><a href = "/user/{{row}}">{{row}}</a></li>
                {% endfor %}
            {% endif %}
        </ul>

        <ul class = "upperRight" type = "disc">
            <h2 class = "center">You Might Like: </h2>
            {% if not artists %}
                <li>No suggested artists :(</li>
            {% else %}
                {% for row in artists %}
                    <li><a href = "/artist/{{row}}">{{row}}</a></li>
                {% endfor %}
            {% endif %}
        </ul>

        <ul class = "bottomLeft" type = "disc">
            <h2 class = "center">Your Friends Like: </h2>
            {% if not followerRecs %}
                <li>No songs :(</li>
            {% else %}
                {% for row in followerRecs %}
                    <li>{{row}}</li>
                {% endfor %}
            {% endif %}
        </ul>

        <ul class = "bottomRight" type = "disc">
            <h2 class = "center">Today's Top Songs: </h2>
            {% if not topSongs %}
                <li>No songs :(</li>
            {% else %}
                {% for song in topSongs %}
                    <li>{{song}}</li>
                {% endfor %}
            {% endif %}
        </ul>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- The form -->
        <form class="search"> 
        <input type="text" id = "searchBar" placeholder="Search.." name="search">
        <button type="button" id = "searchButton" onclick="searching()"><i class="fa fa-search"></i></button>
        </form>

        <button type="button" class="exit" id="logout" onclick="logout()">Log Out</button>
        <script src="../static/script.js"></script>
    </body>
</html>