<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <title>Home</title>
        <link href="static/stylesheet.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <!-- Rest of code goes under here -->
        <h1>Welcome {{user.username}}</h1>



        <button type="button" class="logout" id="logout" onclick="logout()">Log Out</button>
        <script src="static/script.js"></script>
    </body>
</html>