<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Log In</title>
        <link href="static/stylesheet.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <h1 class = "center">MyMercedMusic</h1>
        <div class="login">
            <form>
                <label for="user_name">USERNAME:</label><br>
                <input type="text" class = "textbox" id="username" name="username" placeholder="Username"><br>
                <label for="password">PASSWORD:</label><br>
                <input type="password" class = "textbox" id="password" name="password" placeholder="Password"><br>
                <button type="button" id = "login">Log In</button>
                <button type="button" id = "create">Create User</button>
            </form>
        </div>
        <script src="static/script.js"></script>
    </body>
</html>