<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <title>Playlist</title>
        <link href="../static/stylesheet.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <!-- Rest of code goes under here -->
        <!-- Songs in the playlist -->
        <!-- Add and Delete Songs From Playlist -->
        <!-- Make playlist public or private -->
        <!-- Delete playlist -->
        <h1 class="center">{{playlist.name}}</h1>
        {% if ownsPlaylist %}
            <h2 class="center">Made by You</h2>
        {% else %} 
            <h2 class="center">Made by {{user}}</h2> 
        {% endif %}      

        <!-- all songs-->
        <ul class = "upperLeft" type = "disc">
            <h2 class = "center">Songs:</h2>
            {% if not songs %}
                <li>No songs in playlist :(</li>
            {% else %}
                {% for i in range(0, length) %}
                    <li>{{songs[i]}} by {{artists[i]}}</li>
                {% endfor %}
            {% endif %}
        </ul>

        {% if ownsPlaylist %}
            <div class="centerDiv">
                <form>
                    <label for="newSong">Song Name:</label><br>
                    <input type="text" class = "textbox" id="newSong" name="newSong" placeholder="Song Name"><br>
                    <button type="button" id = "addSong">Add Song</button>
                    <button type="button" id = "deleteSong">Delete Song</button>
                </form>
            </div>

            <button type="button" class="delete" onclick="deletePlaylist()">Delete Playlist</button>
        {% endif %}
        <button type="button" class="home" onclick="goHome()">Go Home</button>
        <button type="button" class="exit" id="logout" onclick="logout()">Log Out</button>


        
        <script src="../static/script.js"></script>
    </body>
</html>